#home-banner-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

#home-banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    margin: -70px 0 0 0;
    padding: 70px 0 0 0;
    font-size: 2.8em;
    font-weight: 800;
    color: #fff;
    -webkit-text-stroke: 0.3px #a0ff27;
    background: center/cover no-repeat url(/austin-banner.png);
}

#home-cta-1 {
    width: 50vw;
    margin: 60px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    color: #354998;
}

#home-search-form {
    display: flex;
    justify-content: center;
}

#home-trending {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 80px 120px;
}

#home-trending div {
    height: 100%;
    flex: 1;
    margin: 0 20px;
    border-radius: 20px;
    background-color: #354998;
}

@media (max-width: 480px) {
    #home-banner-img {
        height: 90px;
    }
}
