.search-input {
    position: relative;
}

.search-input-icon {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    font-size: 2em;
}

.search-input-icon path {
    stroke: #868eaf;
}

.text-input input {
    width: 100%;
    height: 70px;
    padding: 20px 20px 20px 100px;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 1px 15px 0 #868eaf;
    font-size: 1.2em;
    color: #868eaf;
}

.text-input input:focus {
    outline: none;
}
